.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: black;
  color:#FECAE0;
  background-image: url('backgroundphoto.jpg');
  background-repeat: no-repeat;
  width: 65vw;
  margin: auto;
  font-size: 20px;
}

.winnerTie{
  position: absolute;
  color: black;
  font-size: 50px;
  font-weight: bold;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

